#pluto{
   height: 300px;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

}

.img-galeria {
    width: 300px;

}

h3{
    color: rgb(194, 130, 10);
    font-family:fantasy;
    
}